body{
   background-color: royalblue
}

.container{
    background-color: aliceblue;
    width: 750px;
    height: 150px;
    max-width: 800px;
    margin: 90px auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}